// Main Page
.footElement
    margin: 3vh auto
    padding: 2vh 0
    width: 90%
    height: 10vh

.footElement:nth-child(1)
    border-top: 1px solid black

.footElement h2
    font-size: 1em

.footElement a
    text-decoration: none
    color: black
